parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    paths:
       - app
       - routes
       - database
       - resources
    excludePaths:
       - vendor
       - storage
       - bootstrap/cache
